@model Person

@{    
    var showEditLink = (bool)ViewData["ShowPersonEditButton"];
    var showRemoveLink = (bool)ViewData["ShowPersonRemoveButton"];
}

@if (Model != null)
{
<div class="row">
    <div class="col-3">
        <p>@Model.FirstName</p>
    </div>

    <div class="col-3">
        <p>@Model.LastName</p>
    </div>

    <div class="col-2">
        <p>@Model.CurrentCity</p>
    </div>

    <div class="col-2">
        <p>@Model.CellphoneNumber</p>
    </div>

    @if (showEditLink)
    {
        <div class="col-1">
            <a id="editLink" runat="server" asp-action="Edit" asp-route-id="@Model.Id" method="post">|Edit|</a>
        </div>
    }

    @if (showRemoveLink)
    {
         <div class="col-1">
             <a id="removeLink" runat="server" asp-action="Remove" asp-route-id="@Model.Id" method="post">|Remove|</a>
          </div>
    }
</div>
}
